@CHARSET "UTF-8";

body {
  color: #333333;
  margin: 0px;
  padding: 0px;
  border: 0px;
  direction: ltr;
  width:100%;
  height:100%;
}

body, table td, select, button {
  font-family: Geneva, Calibri,'Arial Unicode MS', Arial, sans-serif;
}

h1, h2, h3 {
	margin: 0px;
}

div.top {
  padding: 30px;
}

div.content {
  padding-left: 30px;
  padding-right: 30px;
  min-height: 500px;
  background: url('../images/back2.jpeg');
}

div.mainmenu a {
	margin-right:20px;
}

div.footer {
	position: absolute;
	background-color: #545454;
	top: 640px;
	width: 100%;
	bottom: 0px;
	color:white;	
}

ul {
	list-style-type:none;	
}


a, a:visited {
	color:#333333;
	text-decoration:none;
}

a:hover {
	color:#660000;
	text-decoration:underline;
} 

.top .user {
	position: relative;
	float: right;	
}

form {
	padding: 10px;
	background-color: #FFF;
	width: 300px;
	border-radius: 5px;	
}

form table {
	width: 100%;
}

form table th {
	text-align: left;
	padding-bottom: 10px;	
}

form table tfoot td {
	text-align: right;
	padding-top: 10px;	
}

form table tr td:first-child {
	text-align: right;
	padding-right:10px;
}

form table tr td:nth-child(odd) {
	text-align: right;
	padding-right: 10px;
}

.central {
	position: absolute;
	left:50%;
	top:50%;
}

input,select {
	padding: 5px;
	border-color: #333333;
	border-radius: 5px;	
}

input[type="button"],input[type="submit"],button {
  padding: 5px 10px;
  color: #FFF;
  border: 1px solid #111;
  background: linear-gradient(to bottom, #00A000 0%, #007000 100%) repeat scroll 0% 0% transparent;
  border-radius: 5px;	
}

input#cancel[type="button"] {
	color: #007700;
	background: white;
}

button.ui-multiselect {
	border: 2px inset !important;
	border-color: #333333 !important;	
	padding: 5px;
	color: #333333 !important;
}

button.ui-multiselect .ui-icon{
	background-image: url("images/ui-icons_222222_256x240.png") !important;
}

a.ui-multiselect-close .ui-icon {
	background-image: url("images/ui-icons_ffffff_256x240.png") !important;
}

a.ui-multiselect-close .ui-icon:hover {
	background-image: url("images/ui-icons_ef8c08_256x240.png") !important;
}

.ui-multiselect-menu {
	background:#FFFFFF !important;
	box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 10px;
}

.list-view .ui-selecting { 
	background: #AA0000; 
}

.list-view .ui-selected { 
	background: #660000; 
	color: white; 
}

.list-view { 
	list-style-type: none; 
	margin: 0; 
	padding: 10px; 
}
.list-view li { 
	margin: 3px; 
	padding: 0.4em; 
	height: 18px; 
}

#project-list {
	top: 20px;
	width: 374px;
	background-color: white;
	position: relative;
	border-radius: 5px;
	float:left;
	min-height: 422px;
}

#team-propertys {
	position: relative;
	top: 20px;
	left: 20px;
	margin-right: 20px;
	border-radius: 5px;
	background-color: white;
	min-height: 402px;
	padding: 20px;
	overflow: hidden;
}

#team-propertys h2 {
}

.ui-widget-header {
	border: 1px solid #007000;
	color: #ffffff;
	font-weight: bold;
	background: #007000 !important;
}

.ui-tabs .ui-tabs-panel {
	background-color: white;
}


.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
	color:#333333;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
	color:#AA0000;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	border-color:#AA0000;
}
.ui-state-focus {
	border-color:#AA0000;
}

.ui-tabs-anchor {
	outline:0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #111111;
  background-color: #007000;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00A000), color-stop(100%, #007000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #00A000 0%, #007000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #00A000 0%, #007000 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #00A000 0%, #007000 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #00A000 0%, #007000 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #00A000 0%, #007000 100%);
  /* W3C */
}

/* hack for multiselect plugin*/
button span.ui-label-text {
	white-space: nowrap;
	float:left;
}

input.error {
	background: url(../images/icon-fail.png) no-repeat right center #ffebef;
	color: #480000;
}

input.valid {
	background: url(../images/icon-ok.png) no-repeat right center #e3ffe5;
	color: #002f00;
	border-color: #96b796 !important;
}

div.form-error {
    padding: 0px 12px;
    line-height: 180%;
    background: #ffe5ed;
    border-radius: 4px;
    margin-bottom: 22px;
    color: darkred;
    white-space: normal;
}

.getperson-error {
	text-align: center;
	display: block;
	position: relative;
	left: 30px;
	vertical-align: middle;
	margin-bottom: 0px !important;
	margin-left: 40px;
	margin-right: 40px;
	top: -32px;	
}	

#admin-menu {
	top: 20px;
	width: 200px;
	background-color: white;
	position: relative;
	border-radius: 5px;
	float: left;
	min-height: 422px;
}

#admin-content {
	top: 20px;
	background-color: white;
	position: relative;
	border-radius: 5px;
	min-height: 402px;
	padding: 20px;
	overflow: hidden;
	left: 20px;
	margin-right: 20px;
}

#users-table {
	width:100%;
}

#diary-container {
	top: 20px;
	width: 100%;
	background-color: white;
	position: relative;
	border-radius: 5px;
	min-height: 440px;
	max-height: 440px;
	height: 440px;
	padding: 10px;
	right: 8px;
	overflow: hidden;
}

#diary {
	position: absolute;
	white-space: nowrap;
	left: 10px;
	top: 60px;
	right: 10px;
	bottom: 10px;
}
